/* Estilos generales */
body {
  background-color: #f8f9fa;
}

.img-card {
  max-height: 150px;
  object-fit: contain;
  padding: 10px;
}

.card {
  border-radius: 12px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}
